@charset "UTF-8";

/* Typical Device Breakpoints

Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px

*/

/* Configuração para TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #262626, #D9D9D9 );
    }

    .login {
        width: 80vw;
        height: 400px;
    }

    .formulario h1 {
        font-size: 1.7em;
        border-radius: 3px 15px 3px 3px;
    }

    .login .imagem {
    float: left;
    width: 30%;
    height: 100%;
    
    }

    .login .formulario {
    float: right;
    width: 70%;
    height: 100%;
    
    }

}

/* Configuração para TELAS GRANDES */
@media screen  and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #262626, #D9D9D9 );
    }

    .login {
        width: 950px;
        height: 430px;
        
    }

    .login .imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    .login .formulario {
        float: left;
        width: 50%;
    }

    .formulario h1 {
        font-size: 2em;
        border-radius: 15px 4px 4px 4px;
    }

    .formulario  p {
        font-size: .8em;
        margin: 30px 0px;
    }
}