@charset "UTF-8";

/* Paleta de cores 

Cor 1: #D9D9D9
Cor 2: #A6A6A6
Cor 3: #737373
Cor 4: #262626
Cor 5: #0D0D0D

*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

